.input-group input:focus {
    box-shadow: none;
}

.btn-danger {
    background-color: #ff1f3d;
    border-color: #ff1f3d;
}

.btn-danger:hover {
    background-color: #e6002c;
    border-color: #e6002c;
}
    